<h3><a href="/events">Events List</a></h3>
<h1>Create New Event</h1>
<form action="/events" method="post" class="horizontal-form">
    <table>
        <tbody>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name" class="form-control"/></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea name="description" class="form-control"></textarea></td>
        </tr>
        <tr>
            <td><input type="submit" class="btn btn-primary" value="Create"/></td>
        </tr>
        </tbody>
    </table>
</form>